<!Doctype html>
<html>
<head>
    <title>Mon Site - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}"/>

    {% block css %}<link rel="stylesheet" href="{{ asset('/css/style_home.css') }}"/>{% endblock %}
</head>
<body>
    <header>
        <div class="conteneur">
            <span>
                <a href="{{ path('home') }}" title="Mon Site">MonSite.com</a>
            </span>
            <nav>
                <a href="">Connexion</a>
                <a href="">Inscription</a>
                <a href="{{ path('profil') }}">Profil</a>
                <a href="">Panier</a>
                <a href="{{ path('boutique') }}">Boutique</a>
                <a href="{{ path('contact') }}">Contact</a>
                <a href="{{ path('backoffice/produit') }}">bo produits</a>
            </nav>
        </div>
    </header>
{% block slide %}{% endblock %}
    <section>



            {% block content %}

            {% endblock %}



    </section>
    <footer>
        <div class="conteneur">
            {{ "now" |date('Y')  }} - Tous droits reservés.
        </div>
    </footer>
    {% block js %}{% endblock %}
</body>
</html>
